<form [formGroup]="form">
  <div class="p-3">
    <div class="form-row">
      <div class="form-group col-md-12">
        <label>Descrição: </label>
        <input
          type="text"
          formControlName="descricao"
          class="form-control"
          [ngClass]="{
            'is-invalid': this.f.descricao.errors && this.f.descricao.touched
          }"
          placeholder=""
        />
        <div class="invalid-feedback">Descrição é obrigatória.</div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label>Preço Unitário:</label>
        <input
          type="number"
          (keypress)="numberOnly($event)"
          formControlName="precoUnitario"
          class="form-control"
          [ngClass]="{
            'is-invalid': this.f.precoUnitario.errors && this.f.precoUnitario.touched
          }"
          placeholder=""
        />
        <div class="invalid-feedback">Preço Unitário é obrigatório.</div>
      </div>
      <div class="form-group col-md-4">
        <label>Quantidade em Estoque: </label>
        <input
          type="number"
          (keypress)="numberOnly($event)"
          formControlName="quantidadeEstoque"
          class="form-control is-invalid"
          [ngClass]="{
            'is-invalid': this.f.quantidadeEstoque.errors && this.f.quantidadeEstoque.touched
          }"
          placeholder=""
        />
        <div class="invalid-feedback">Quantidade em Estoque é obrigatória.</div>
      </div>
      <div class="form-group col-md-4">
        <label>Categoria: </label>
        <input
          type="text"
          formControlName="categoria"
          class="form-control "
          [ngClass]="{
            'is-invalid': this.f.categoria.errors && this.f.categoria.touched
          }"
          placeholder=""
        />
        <div class="invalid-feedback">Categoria é obrigatória.</div>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <div class="d-flex">
      <button class="btn btn-outline-secondary mr-auto border" (click)="resetForm()">Cancelar</button>
      <button class="btn btn-success" (click)="salvarProduto()">Salvar Evento</button>
    </div>
  </div>
</form>
